<div class="container">
  <div class="row mb-2">
    {{#each books as |book|}}
    <div class="col-md-6">

      <div class="card shadow bg-dark text-white bg-gradient-primary mb-3">

        <img src="{{book.cover}}" class="card-img-top" alt="{{book.title}}: {{book.description}}">
        <div class="card-body">
          <h5 class="card-title">{{book.title}}</h5>
          <p class="card-text">{{book.description}}</p>
        </div>

        <ul class="list-group list-group-flush">
          {{#each book.recent as |poem|}}
            <li class="list-group-item text-white" style="background: transparent;">
              <p class="lead">{{poem.meta.title}}</p>

              {{#first poem.meta.images}}
                  <img src="http://127.0.0.1:8081/img/xs-{{file}}" class="float-left mr-3 rounded" alt="{{label}}">
              {{/first}}

              <p class="text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            </li>
          {{/each}}
        </ul>

        <div class="card-body">
          <a href="#" class="btn btn-primary">Home</a>
          <a href="#" class="btn btn-primary">Playlist</a>
        </div>

      </div>




      <!-- <div class="card mb-3 text-white bg-dark shadow bg1">

        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{book.cover}}" class="card-img" alt="{{book.title}}: {{book.description}}">
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{book.title}}</h5>
              <p class="card-text">{{book.description}}</p>
              <p class="card-text"><small class="text-muted">by {{book.author}}</small></p>
            </div>
          </div>

        </div>

        <div class="row no-gutters">

          <div class="col-md-12">
            <div class="card-body">

              {{#each book.recent as |poem|}}
              <div class="media">
                <img src="http://127.0.0.1:8081/img/xs-poetry-0162-illustration.jpg" class="align-self-start mr-3" alt="...">
                <div class="media-body">
                  <h5 class="mt-0">{{poem.meta.title}}</h5>
                  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                  <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
              </div>
              {{/each}}

            </div>
          </div>

        </div>

      </div> -->

    </div>
    {{/each}}
  </div>
</div>
